.navbar{
    background-color: black;
    margin: -8px;
    height: 70px;
    display: flex;
    flex-direction: row;
}
.heading{
    width: 15%;
    height: 50px;
    padding-top: 15px;
    padding-left: 10px;
    color: white;
    margin: 0%;
    text-align: center;
    font-size: 30px;
}
.pages{
    width: 100%;
    padding-top: 20px;
    padding-left: 300px;
    display: flex;
    flex-direction: row;
    color: white;
    float: left;
}

span{
    
    width: 200px;
    height: 30px;
    background: black;
    padding-left: 0px;
    padding-top: 5px;
    font-size: 18px;
}
a:link{
    color:white;
    text-decoration: none;
}
a:hover{
    color:grey;
}
a:visited{
    color:white;
}
